.netzAppRoot {
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
  width: 100% !important;
  overflow: hidden !important;
}

.netzAppSplit {
  flex: 1 1 0 !important;
  min-height: 0 !important;
}
